# General vCenter data
user = "" # VC User

password = "" # vSphere Password

vsphere_server = "" # VC URL (IP, hostname or FQDN)

datacenter = "" # vSphere datacenter

datastore = "" # vSphere datastore

resource_pool = "" # vSphere Resourcepool

# Virtual Machine configuration
name = "" # name of the virtual machine

template = "" # chosen name of the template

network = "" # network for the VM to reside in

cpus = 4 # CPU cores of the VM

memory = 8192 # Memory of the VM in Mb

vm_numbers = 4 # VM numbers you want to create

virtual_machine_network_address = "" # VM cidr ex: 192.168.1.0/24

virtual_machine_ip_address_start = "" # ex: 100

virtual_machine_domain = ""

virtual_machine_network_gateway = ""

virtual_machine_dns_servers = [
  "8.8.8.8",
  "8.8.4.4",
]
