# General vCenter data
user = "FILL_ME_IN" # VC User

password = "FILL_ME_IN" # vSphere Password

vsphere_server = "FILL_ME_IN" # VC URL (IP, hostname or FQDN)

datacenter = "FILL_ME_IN" # vSphere datacenter

datastore = "FILL_ME_IN" # vSphere datastore

resource_pool = "FILL_ME_IN" # vSphere Resourcepool

# Virtual Machine configuration
name = "FILL_ME_IN" # name of the virtual machine

template = "FILL_ME_IN" # chosen name of the template

network = "FILL_ME_IN" # network for the VM to reside in

cpus = 4 # CPU cores of the VM

memory = 8192 # Memory of the VM in Mb

vm_numbers = 4 # VM numbers you want to create

virtual_machine_network_address = "FILL_ME_IN" # VM cidr ex: 192.168.1.0/24

virtual_machine_ip_address_start = "FILL_ME_IN" # ex: 100

virtual_machine_domain = "FILL_ME_IN"

virtual_machine_network_gateway = "FILL_ME_IN"

virtual_machine_dns_servers = [
  "8.8.8.8",
  "8.8.4.4",
]
